extends reuse/frame

block content
    form(action="/playground/submit" method="post")
        .from-group
            label(for="title") Title:
            input.form-control(type="text" id="title" name="Title")
        .form-group
            label(for="Text") Text:
            textarea(id="Text" class="form-control" rows="10" name="Text")

        label(for="SingleSelectOptions") Options:
        .from-group(id="SingleSelectOptions")
            label(class="checkbox-inline" title="Music generation may take a while longer, but the result will be more accurate")
                input(type="checkbox" value="PreciseSearch" name="PreciseSearch")
                |Precise Search

        .from-group
            label(for="OptionsDropDown") Sound Character:
            select(id="OptionsDropDown" class="form-control" name="OptionsDropDown")
                option Guitar
                option Piano
                option Triangle

        button.btn.btn-default(type="submit" value="submit") Submit